<template name="NewSettings">
{{#if Template.subscriptionsReady}}

<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="PersonalSettings" aria-controls="home" role="tab" data-toggle="tab">Personal Settings</a></li>
    <li role="presentation"><a href="ProfessionSettings" aria-controls="profile" role="tab" data-toggle="tab">Profession Settings</a></li>
    <li role="presentation"><a href="WorkPlaceSettings" aria-controls="profile" role="tab" data-toggle="tab">Workplace Settings</a></li>
    <li role="presentation"><a href="CalendarSettings" aria-controls="profile" role="tab" data-toggle="tab">Calendar Settings</a></li>
    <li role="presentation"><a href="AppointmentSettings" aria-controls="profile" role="tab" data-toggle="tab">Appointment Settings</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
	{{> Template.dynamic template=template data=data}}
  </div>

</div>
{{else}}
    Loading.. NewSettings
{{/if}}
</template>
